/* import font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* root */
:root {
    --input-padding: 5px;
    --danger: #d32f2f;
}

/* universal selector */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    /* background-color: rgb(101, 110, 210); */
    min-height: 100vh;
    scroll-behavior: none;
    background-color: rgb(46, 50, 52);
}

/* container */

main {
    min-width: 300px;
    width: 50%;
    margin: auto;
    padding: 2rem;
    /* border: 1px solid black; */
    border-radius: 1%;
    margin-top: 10vh;
    background-color: rgb(105, 115, 221);
}

/* form styles */

h1 {
    text-align: center;
    margin-block: 5vh;
}

.todoForm {
    display: flex;
    justify-content: center;
    align-content: center;
    /* margin-block: 5vh; */
    margin-inline: auto;
    /* border: 1px solid black; */
    padding: 1rem;
}

.addTodoBtn,
.addTodo {
    background-color: white;
    border: none;
}

.addTodo {
    padding: 1rem;
    outline: none;
    /* border: 1px solid black; */
    border-radius: 5px 0px 0px 5px;
    min-width: 300px;
    width: 30%;
    height: 25px;
    font-size: 1.25rem;
}

.addTodoBtn {
    width: 40px;
    border-radius: 0px 5px 5px 0px;
    padding: 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in;
}

.addTodoBtn:hover {
    background-color: rgb(220, 220, 220);
    /* color: white; */
}

.addTodoBtn:active {
    color: black;
    background-color: white;
    border: none;
}

.addTodoBtn i {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

/* filter style */
.selectContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-block: 2vh;
}

select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #d32f2f;
    cursor: pointer;
}

.filterTodo {
    border: none;
    border-radius: 3px;
    outline: none;
    appearance: none;
    width: 10rem;
    padding: 5px 3px;
    display: flex;
    align-items: center;
}

.select {
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
    pointer-events: none;
}

option {
    border: 1px solid transparent;
    outline: none;
}

/* todo list Container styles */
.todoContainer {
    margin-block: 10px;
    margin-inline: 10rem;
}

/* todo list style */
.todoList {
    list-style-type: none;
}

.todo {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 60%;
    max-width: 400px;
    margin-inline: auto;
    margin-block: 10px;
    padding: var(--input-padding);
    /* border: 1px solid black; */
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.todoItem {
    flex: 1;
    display: flex;
    align-content: center;
    font-size: 1.2rem;
}

.completedItem {
    opacity: 0.5;
    /* background-color:rgba(172, 255, 47, 0.2) ; */
    /* color: white; */
    text-decoration: line-through;
}

.fall {
    transform: translateY(5rem) rotateZ(30deg);
    opacity: 0;
}
/* todo list button styles */
.todoList i {
    pointer-events: none;
}
.completeBtn {
    margin-right: 10px;
    color: green;
    border: 1px solid rgba(0, 128, 0, 0.8);
    background-color: none;
}

.completeBtn:hover {
    /* background-color: rgba(172, 255, 47, 0.5); */
    background-color: rgba(0, 128, 0, 0.5);
    border: 1px solid rgba(0, 128, 0, 1);
    color: white;
}

.deleteBtn {
    color: #d32f2f;
    border: 1px solid #d32f2f90;
    transition: all 0.2s ease-in-out;
}

.deleteBtn:hover {
    color: #d32f2f;
    border: 1px solid #d32f2f;
    background-color: #d32f2f27;
}

.completeBtn,
.deleteBtn {
    background-color: transparent;
    padding: var(--input-padding);
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.completedBtn {
    background-color: green;
    color: white;
}

.completedBtn:hover {
    background-color: green;
    color: white;
}
